<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SDG Connect | Jobs</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/collaboarte_homepage.css" />
  </head>
  <body>
    <div class="container-fluid">
      <%- include('navbar') %>

      <div class="card-group">
        <% if (jobs.length) { %>
        <div class="info alert">No Jobs Posted Yet</div>
        <% } else { %> <% jobs.forEach(function(job) { %>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= job.title %></h5>
            <p class="card-text"><%= job.job_type %> <%= job.location %></p>
            <p class="card-text"><%= job.description.substring(36) %>...</p>
            <p class="card-text"><%= job.working_hrs %> / week</p>
            <p class="card-text">Salary: <%= job.max_salary %> / week</p>

            <a href="/jobs/<%= job.id %>" class="btn btn-primary"
              >Go somewhere</a
            >
          </div>
        </div>
        <% }); %> <% } %>
      </div>

      <div class="card"></div>
      <div class="searchfilter">
        <div class="search">
          <input
            type="search"
            id="search"
            placeholder="Search through company posts or names"
          />
          <button type="submit" id="search_btn" class="searchbtn">
            <img src="/images/searchicon.svg" />
          </button>
        </div>
      </div>

      <div class="column1">
        <a href="#">
          <div class="box1">
            <div class="avatar"><img src="/images/companyicon.svg" /></div>
            <label id="company_name" class="amalitech">AmaliTech Ghana</label
            ><br />
            <a
              href="https://amalitech.org/"
              style="
                color: #0e7cab;
                position: relative;
                top: 25px;
                left: 50px;
                font-weight: lighter;
                font-size: 20px;
                text-decoration: underline;
              "
              >https://amalitech.org/</a
            ><br />
            <label class="employee">Employee Size:</label><br />
            <label id="employee" class="num_employees">3000</label><br />
            <label class="Industry">Industry:</label><br />
            <label id="industry" class="industry">Technology</label>
          </div>
        </a>

        <a href="#">
          <div class="box2">
            <img src="/images/vector.svg" class="vector" /><br />
            <div class="celebrate">
              Join Us to<br />
              Celebrate The <br />
              Global <br />
              Environmental <br />
              Health <br />
              Day.
            </div>
            <br />
            <div class="smalltext">Kicks off on March 22, 2023</div>
            <a
              href="#"
              style="
                color: #0e7cab;
                position: relative;
                top: 8px;
                font-weight: lighter;
                font-size: 16px;
                text-decoration: underline;
              "
              >Click here</a
            >
            <span>to add to Events.</span>
          </div>
        </a>
      </div>

      <div class="column2">
        <a href="#">
          <div class="box3">
            <h4>
              Packs of Soil needed <br />
              to grow trees
            </h4>
            <br />
            <a
              href="#"
              id=""
              style="
                font-size: 16px;
                color: #5e5e5e;
                position: relative;
                left: 67px;
                bottom: 30px;
              "
              >VIQ Solutions</a
            >
            <img
              src="/images/viqicon.svg"
              alt="VIQ Solutions logo"
              class="viq"
            />
            <img src="/images/Ellipse 573.svg" class="ellipse" />
            <p>
              Content to be covered include <br />
              simplification of management... <br />
              <strong>Read More</strong>
            </p>
          </div>

          <div class="box4">
            <h4>Partnership Deal to <br />work on Landing Page</h4>
            <br />
            <a
              href="#"
              id=""
              style="
                font-size: 16px;
                color: #5e5e5e;
                position: relative;
                left: 99px;
                bottom: 30px;
              "
              >Proof Inc.</a
            >
            <img
              src="/images/prooficon.svg"
              alt="Proof Inc. logo"
              class="proof"
            />
            <img src="/images/Ellipse 573.svg" class="ellipse2" />
            <p>
              Content to be covered include <br />
              addition of concise yet... <br />
              <strong>Read More </strong>
            </p>
          </div>

          <div class="box5">
            <h4>
              Deal to work on Virtual <br />
              Reality
            </h4>
            <br />
            <a
              href="#"
              id=""
              style="
                font-size: 16px;
                color: #5e5e5e;
                position: relative;
                left: 75px;
                bottom: 30px;
              "
              >Meta</a
            >
            <img src="/images/metaicon.svg" alt="Meta logo" class="meta" />
            <img src="/images/Ellipse 573.svg" class="ellipse3" />
            <p>
              Learn how to perform research in <br />
              deep learning... <br />
              <strong>Read More </strong>
            </p>
          </div>

          <div class="box6">
            <h4>
              Partnership Deal to work <br />
              on CapturePro
            </h4>
            <br />
            <a
              href="#"
              id=""
              style="
                font-size: 16px;
                color: #5e5e5e;
                position: relative;
                left: 75px;
                bottom: 30px;
              "
              >VIQ Solutions</a
            >
            <img
              src="/images/viqicon.svg"
              alt="VIQ Solutions icon"
              class="viq"
            />
            <img src="/images/Ellipse 573.svg" class="ellipse3" />
            <p>
              Help you securely speed <br />
              the capture, creation, and <br />
              management of large... <br />
              <strong>Read More </strong>
            </p>
          </div>
        </a>
      </div>

      <div class="description_box">
        <h3>
          Packs of Soil needed to grow <br />
          trees
        </h3>
        <a
          href="#"
          id=""
          style="
            font-size: 24px;
            color: #5e5e5e;
            position: relative;
            left: 5.7vw;
            bottom: 0.15vh;
          "
          >VIQ Solutions</a
        >
        <img
          src="/images/viqicon.svg"
          alt="VIQ Solutions logo"
          style="
            width: 33px;
            height: 37px;
            display: block;
            position: relative;
            left: 2.5vw;
            bottom: 4.8vh;
          "
        />
        <button type="submit" id="">Collaborate</button> <br />
        <hr />
        <h4 style="margin-left: 3vw; font-size: 24px">
          <strong style="text-decoration: none"
            >Full Partnership Description</strong
          >
        </h4>

        <div class="scroll-bg">
          <div class="scroll-div">
            <div class="scroll-object">
              As Law Enforcement agencies transition to a technology-driven
              workflow, VIQ Solutions is a leader in providing speech-to-text
              editing services to various industries, with a specific focus on
              Law Enforcement/ Criminal Justice. We are currently testing for
              experienced Law Enforcement/Criminal Justice contract candidates.
              This is a 100% remote opportunity for Independent Contractors.
              Content to be covered includes jailhouse recordings,
              interrogations, field recordings, and other audio/video related to
              routine Law Enforcement/Criminal Justice workflows. The work will
              involve intense attention to detail in discerning what is said and
              excellent proofreading skills. In this role you will process audio
              recordings, strictly adhering to style guides, to edit
              AI-generated text-to- verbatim transcripts. As an independent
              contractor for VIQ Solutions, candidates will have the opportunity
              to set their own schedule and receive guidance from our
              supportive, in-office team whenever needed. We have work available
              24/7/365 to fit any schedule. Those with weekend availability are
              encouraged to apply.
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
